<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>Günlük İş Kayıt Defteri</title>
    
</head>
<body class="bg-dark">

    <%- include("../partials/nav") %>


    <main >

        <div class="container-xl vw-100 wh-100 mt-3">

            <div class="container-xl bg-primary p-3 rounded">

                <div class="container-xl p-2 ">
    
                    <form action="/gunlukUretim" method="post" id="urunForm" class="d-flex justify-content-center align-items-center flex-wrap gap-3 ">
                        <input class="form-control w-auto"  id="urunName" placeholder="ürünün adını giriniz..." type="text" name="urunName" />
                        <input class="form-control w-auto" id="urunDetay" placeholder="ürünün detayını yazınız..." type="text" name="urunDetay"/>
                        <input class="form-control w-auto" id="urunAdet" placeholder="ürünün adeti..." type="number"  name="urunAdet"/>
                        <input class="form-control w-auto" id="urunTarih" type="date" name="urunDate"/>
                        <button class="btn btn-warning" type="submit">KAYDET</button>
                    </form>
    
                </div>
    
            </div>
    
            <div  class=" mt-3 p-2 bg-primary rounded ">
    
                
                
                <div  class="list-group list-group-flush w-auto mt-3 ">


                    <div  class="searchBox  d-flex align-items-center">
                        
                        <input type="text" id="searchInputList" oninput="filterListİ()" placeholder="Ara..." class="form-control p-2 mb-2  w-auto">

                    </div>

                    
                    <div  class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                        
                        <table  class="table bg-warning text-dark mt-3 table-bordered border-dark">
                            <thead>
                                <tr>
                                    <th style="width: 10px;" scope="col">#</th>
                                    <th scope="col">ÜRÜN ADI</th>
                                    <th scope="col">ÜRÜN DETAY</th>
                                    <th scope="col">ÜRÜN ADET</th>
                                    <th scope="col">ÜRÜN TARİH</th>
                                </tr>
                            </thead>
                            <tbody class="dataListSearch">
                                <% daySaveData.forEach(function(data) { %>
                                    <tr>
                                        <th scope="row"><i class="fa-solid fa-circle-chevron-right"></i></th>
                                        <td><%= data.urunName %></td>
                                        <td><%= data.urunDetay %></td>
                                        <td><%= data.urunAdet %></td>
                                        <td><%= data.urunDate %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                    
                      
                    
                    

                </div>

            </div>
        </div>

        
    </main>

    <script>
           
       
        function filterListİ() {
            // Arama girişinin değerini al
            const searchInput = document.getElementById('searchInputList').value.toLowerCase().trim();

            // Liste öğelerini al
            const listItems = document.querySelectorAll('.dataListSearch tr');

            // Liste öğeleri üzerinde döngü yap ve arama girişine uyanları göster
            listItems.forEach((item) => {
                const itemText = item.textContent.toLowerCase().trim();

                if (!searchInput || itemText.includes(searchInput)) {
                    item.style.display = ''; // Öğeyi göster
                } else {
                    item.style.display = 'none'; // Öğeyi gizle
                }
            });
        }


         

    </script>
  
    
</body>
</html>